// Set a color

@function set-text-color($color){

    @if(lightness($color) > 50){
        @return #000;
    }
    @else{
        @return #fff;
    }

}

@mixin flexSpaceBet {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

// Transform
@mixin transform($property) {

    --webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
    
}

@mixin transition($property) {

    --webkit-transition: $property;
    -ms-transition: $property;
    transition: $property;
    
}

@function weight($weight-name){
    @return map-get($font-weight , $weight-name)
}

